/* Stuff in here is meant to only affect this particular presentation.
*/
@import url(http://fonts.googleapis.com/css?family=Signika+Negative|Share|Noticia+Text);

body {
    background: black;
    background-image: -webkit-linear-gradient(top left, #363636 0%, #000000 100%);
    color: white;
    font-family: 'Signika Negative' !important;
    font-style: normal;
    font-weight: 400;
    height: 768px;
}

li {
    font-size: 125%
}

/* Without this nested bullets are bigger than their parents */
li li {
    font-size: 90%
}

span.tag {
    display: none
}

h4
{
    padding-top: 4%;
    padding-bottom: 2%
}

.src-clojure {
    background: black;
    color: white;
    border: solid 2 white;
}

div.title h2, div.title h3, div.title h4 {
    margin-top: 25%
}

/* Adjust for the fact that org-mode spews trailing &nbsp; entities in
   places where they screw up the layout */
.fixnowrap {
    white-space: nowrap;
}

.src
{
    border: solid 2px white;
    -webkit-border-radius: 8px;
    padding: 9px 15px 18px;
}

table {
    margin: auto
}