/* Stuff in here is meant to only affect this particular presentation.
*/

body {
    background: black;
    background-image: -webkit-linear-gradient(top left, #363636 0%, #000000 100%);
    color: white;
    height: 768px;
}

span.tag {
    display: none
}

h4
{padding-top: 4%;
    padding-bottom: 2%
}

.src-clojure {
    background: black;
    color: white;
    border: solid 2 white;
}

div.title h2 {
    margin-top: 25%
}

/* Adjust for the fact that org-mode spews trailing &nbsp; entities in
   places where they screw up the layout */
.fixnowrap {
    white-space: nowrap;
}

.src
{
    border: solid 2px white;
    -webkit-border-radius: 8px;
    padding: 9px 5px;
}

